@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: "Source Serif 4", serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
    display: flex;
    height: 100%;
}

/* sidebar */
#sidebar {
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    background-color: #F4F5F7;
    padding: 1.5rem;
}

.sidebar-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

.icon {
    width: 1rem;
    height: auto;
}

button {
    font-family: "Source Serif 4", serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.25 0rem;
    background: none;
    border: none;
}

button:hover {
    filter: invert(54%) sepia(44%) saturate(4967%) hue-rotate(330deg) brightness(85%) contrast(103%);
}

.add-project {
    margin-bottom: 1.5rem;
}

.sidebar-project-name:hover {
    color: #DB4B3F;
    cursor: pointer;
}

.active-project {
    font-weight: bold; 
}


/* content */
#content {
    flex: 1;
    padding: 1.5rem;
}

#content > h1 {
    margin-bottom: 1rem;
}

.todo-item {
    display: flex;
    gap: 0.25rem;
}

.todo-title {
    flex: 1;
    margin-left: 0.125rem;
}

.todo-title:hover {
    color: #DB4B3F;
    cursor: pointer;
}

.hidden {
    display: none;
}

.add-todo {
    margin-top: 1rem;
}

.todos-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.todo-collapse {
    padding: 0.5rem 1.125rem;
}

.details-label {
    font-weight: bold;
}

/* dialog */
dialog {
    margin: auto;
    border: none;
    border-radius: 1rem;
    width: 65%;
}

dialog form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modal-content {
    padding: 1.5rem;
}

.dialog-buttons {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
    margin-top: 1rem;
}

label {
    display: flex;
    flex-direction: column;
}

input, select, textarea {
    font-family: "Source Serif 4", serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea {
    height: 3rem;
}


